body {
    text-align: center; 
    background-image: url('backimg.jpg');
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    display: block;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}


h1 {
    font-size: 40px;
}

h2 {
    margin-top: 20px;
}

.history-content {
    padding: 20px;
    text-align: center; 
    flex: 1;
}

.history-content div {
    margin-bottom: 20px;
    text-align: center; 
}

.history-content span {
    display: block;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.disclaimer {
    font-size: smaller;
    color: gray;
}
